* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, menu  {
    list-style: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto ;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.flex_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    padding: 7px;
}

.logo {
    justify-content:flex-start;
}

.login {
    justify-content: flex-end;
}

.background_blue {
    background-color: blue;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_background {
    background-color: aqua;
    padding: 7px;
    
}

.background_pink {
    width: 750px;
    height: 300px;
    background-color: pink;
}

.background_white {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background_pink_blue {
    background-color: blueviolet;
    width: 1000px;
    height: 500px;
}

.class60 {
    background-color: brown;
    width: 60%;
    height: 500px;
}

.class40 {
    background-color: pink;
    width: 40%;
    height: 500px;
}

.padding_container {
    padding: 15px;
}

.background_container {
    background-color: grey;
    padding: 10px;
}

.flex_color {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background_green {
    background-color: green;
    width: 1000px;
    height: 1000px;
}

.flex_green {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.class10 {
    background-color: yellowgreen;
    width: 10%;
    height: 500px;
    border-left: 2px dashed brown;
    border-right: 2px dashed brown;
}

.background_night {
    background-color: rgb(19, 19, 72);
    padding: 20px;
}


.footer {
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    padding: 8px;
}