* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, menu  {
    list-style: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto ;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.flex_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    padding: 7px;
}

.logo {
    justify-content:flex-start;
}

.login {
    justify-content: flex-end;
}

.background_blue {
    background-color: blue;
    height: 450px;
}

.nav-background {
    background-color: aqua;
    padding: 7px;
}